a:hover{
background-color:blue;
color:white;
text-decoration:none;

}
a:visited{
	background-color: yellow;
	color: fuchsia;
	text-decoration: line-through;
}

a{
	
	width:100px;
	height:25px;
	display:list-item;
	display: inline-block;
	text-decoration: none;
	padding:25px;
}