*{
	margin:0px;
}

.container{
	display:grid;
	grid-template-columns:1.3fr 1fr 1fr 1fr 1fr 1fr 1fr 1.3fr;
	grid-template-rows:1fr 1.8fr 3fr 2.5fr;
	height:100%;
	grid-template-areas:
	". enun enun enun menu menu menu ."
	". imag imag imag imag imag imag ."
	". travel travel travel travel about about ."
	". latest latest pictu pictu friend friend ."	
	}
	/***************************************************/
	.enun{
	grid-area:enun;
	
	}
	.menu{
		grid-area:menu;
	}
	.imag{
		grid-area:imag;
	}
	.travel{
		grid-area:travel;
	}
	.about{
		grid-area:about;
	}
	.latest{
		grid-area:latest;
	}
	.pictu{
		grid-area:pictu;
	}
	.friend{
		grid-area:friend;
	}
	/****************************************/
	.menu{
	background:url('images/separateur.png') bottom repeat-x;
	margin-bottom:15px;
	}
	.enun{
	background:url('images/separateur.png') bottom repeat-x;
	margin-bottom:15px;
	}
	.enun img,span{
	padding-top:30px;
}	
	.menu ul{
	display:flex;
	padding-top:100px;
	list-style-type:none;
	}
	.menu ul li{
		padding-left:30px;

}
	.menu ul li a{
	text-decoration:none;
	color:black;
}
@font-face {
	font-family:ballpark;
	src: url(fuente/BALLW.TTF);
}
.z{
	font-family:ballpark;
	font-size: xx-large;
}
.imag .img1{
	width:100%;
	height:100%;
		border-radius:0 0 10px 10px;
		border-top:100% black solid;
}
.imag{
	position:relative;
}

.opacity{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	font-size:10pt;
	width:100%;
	bottom:0;
	left:0;
	position:absolute;
	border-radius:0 0 10px 10px;
	background-color:#000000;
	opacity:0.6;
	overflow:hidden;
	color:white;
	height:60px;
	}
.opacity a{
	width:10px;
	height:60px;
}
.see{
width:80px;
height:20px;
background-color:#831618;
text-align:center;
margin-right:10px;
padding-top:5px;
border-radius:5px;
}
.travel{
	margin-top:20px;
	padding-right:30px;
}
.great h2{
	display:inline;
}
.great img{
	vertical-align:middle;
}
.about{
position:relative;
background-color: #706B66;
margin-top:10px;
border-radius:20px;
padding:10px;
color:white;
}
.pico{
position:absolute;
	top:73px;
	left:-12px;
}
.about ul{
		padding-top:30px;
}
.about ul li{
	display:inline;

}
