.caja{
	width:800px;
	height:50px;
	border:1px black solid;
	mix-blend-mode:difference;
}
.barra{
	width:800px;
	height:50px;
	background-color:maroon;
	animation:cuerpo 8s linear infinite;
	
}
.texto{
	text-align:center;
	width:800px;
	line-height:50px;
	color:orange;
	mix-blend-mode:difference;
	font-size: x-large;
	font-weight:bold;
	
}
.texto:after{
content:'0%';
animation:textcuerpo 8s linear infinite;
}
@keyframes cuerpo{
  0%   { width:0%;}
  100% { width:100%;}
  }
  @keyframes textcuerpo{
  0% {content:'0%';}
  40%{content:'25%';}
  58%{content:'50%';}
  87%{content:'75%';}
  100%{content:'100%';}
  }


