
	
.c{
	width:100px;
	height:100px;
	border:1px aqua solid;
	text-align:center;
	background-color: green;
}
.b{	
	
	width:100px;
	height:100px;
	border:1px aqua solid;
	text-align:center;
	background-color: orange;
	position:absolute;
	left:100px;
	top:120px;
}
.c:hover + .b{
	animation-name:rotabox;
	animation-duration:3s;
	animation-iteration-count:infinite;
	animation-direction: alternate;
	
}
@keyframes rotabox{
	from{
		left:100px;
		background:blue;/*primer fotograma*/
	}
	to{
	transform:rotate(360deg);
	left:1100px;
	background:yellow;
	color:blue;/*ultimo fotograma*/
	}
	
}


