main{
	width:800px;
	height:850px;
	border:2px gray solid;
	text-align:center;
	
}
.header{
	width:100%;
	height:150px;
	background-color: aqua;
	line-height:150px;
}
.a{
	width:25%;
	height:35%;
	background-color: blue;
	float:left;
	line-height:305px;

}
.linklist{
	background-color:fuchsia;
	position:relative;
	width:100%;
	height:100%;
	top:-7px;
	line-height:300px;


}
.content{
	height:70%;
	background-color: green;
	width:75%;
	float:left;
	line-height:650px;

	}
.footer{width:100%;
	height:12.5%;
	background-color: maroon;
	float:left;
	line-height:100px;

}


