*{
	margin:0;
	padding:0;
}
div{
display:flex;
flex-direction:column;

}
.header{
background-color:#B2480C;
}
.centro{
background-color:#21180F;
display:flex;
flex-direction:row;	
}
.footer{
background-color:#B2480C;
	
}
.seccizq{
display:flex;
flex-direction:column;	
flex:1;
margin:6px;
padding:5px;
}
.seccizq>div{
	border:1px solid;
	border-color: #5A4939;
	color:#5A4939;
	margin:4px;
	padding:4px;
}
.seccentr{
background-color: #4E4026;
	display:flex;
	flex:3;
}
.seccderch{
	flex:1;
	border:1px solid;
	border-color: #5A4939;
	color:#5A4939;
}
nav ul li{
	border:1px solid;
	list-style-type:none;
	margin:6px;
	padding:5px;
}
.centres{
	display:flex;
	flex-direction:row;
	border:1px solid;
}
.cendos{	display:flex;
	flex-direction:row;
	display:flex;
	border:1px solid ;
	
}
.centres>div{
	border:1px solid ;
	margin:2px;
	flex:1;
}

.cendos>div{
	border:1px solid;
	margin:2px;
	flex:1;
}
span{
	color:#B2480C;
}
span.a{
	font-size: x-small;
}